/*Font face*/
@font-face {
  font-family: 'Bangla MN';
  src: url('css/fonts/BanglaMN.woff2') format('woff2'), /* Super Modern Browsers */
       url('css/fonts/BanglaMN.woff') format('woff'), /* Pretty Modern Browsers */
       url('css/fonts/BanglaMN.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background-color: #000;
  font-family: 'Bangla MN';
  margin: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: 'Bangla MN';
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: 'Bangla MN';
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: 'Bangla MN';
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all .2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
/* position dots up a bit */
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
/* dots are lines */
.hero-slider .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

/*Three slider*/
.uppercase {
    text-transform: uppercase;
}
.caption-component .caption-line {
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 10px 0 14px;
    opacity: .3;
}
.three-slider {
    margin-top: 40px;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #000;
    color: #fff;
    position: relative;	
}
.q-container{
	width: 100%;
    max-width: 1280px;
    padding: 0 65px;
    padding: 0 5rem;
    margin: 0 auto;
}
.three-slider .caption {
    margin-left: 95px;
}
.caption-component {
    font-family: Avenir Next;
    font-size: 10px;
    width: 150px;
    line-height: 1;
    letter-spacing: 3px;
}
.three-slider .content-container {
    position: relative;
    padding-top: 40px;
}
.three-slider .content-container .background-box {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #3e3f38;
    right: 150px;
}
.three-slider .content-container .slider-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    font-family: Bangla MN;
    position: relative;
    right: 100px;
    font-size: 15px;
    padding: 90px 0 120px;
}
.three-slider .content-container .slider-category .category {
    color: #fff;
    margin-left: 50px;
    cursor: pointer;
}
.three-slider .content-container .slider-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.three-slider .content-container .slider-container .slider-background {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    background: #000;
}
.three-slider .content-container .slider-container .slider-one-container.active ,
.three-slider .content-container .slider-container .slider-two-container.active,
.three-slider .content-container .slider-container .slider-three-container.active{
    opacity: 1;
    transform: translateX(0);
}
.three-slider .content-container .slider-container .slider-one-container {
    width: 25%;
    height: 200px;
    position: relative;
    top: 70px;
    opacity: 0;
    transition: all 1s cubic-bezier(.86,0,.07,1);
}
.three-slider .content-container .slider-container .slider-two-container {
    width: 46%;
    height: 470px;
    position: relative;
    opacity: 0;
    transform: scale(1.2);
    transition: all 1s cubic-bezier(.86,0,.07,1);
}
.three-slider .content-container .slider-container .slider-three-container {
    width: 25%;
    height: 200px;
    position: relative;
    top: 140px;
    opacity: 0;
    transform: translateX(400px);
    transition: all 1s cubic-bezier(.86,0,.07,1);
}
.three-slider .content-container .slider-container .slider-three-container .slider-three {
    height: 100%;
    width: 100%;
    position: relative;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
.three-slider .content-container .slider-container .slider-background {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    background: #000;
}
.background-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50%;
    opacity: .8;
}
.three-slider .content-container .slider-container .slider-two-container .slider-content {
    position: relative;
    padding: 80px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.three-slider .content-container .slider-container .slider-two-container .slider-content .slider-title {
    font-size: 24px;
    font-family: Bangla MN;
}
.three-slider .content-container .slider-container .slider-two-container .slider-content .slider-author {
    font-size: 12px;
    margin-top: 10px;
    font-family: Bangla MN;
}